* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: rgb(247, 247, 247);
  font-family: Roboto;
}

.app__stats {
  display: flex;
  /* justify-content: space-between;  */
}
